* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #1c1d26;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.container {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #eee;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form button {
  background-color: #e44c75;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.form button:hover {
  background-color: #e6416d;
  transform: scale(1.1);
  letter-spacing: 0.6px;
}

#control {
  text-align: center;
}

.form-control #btn {
  width: 150px;
}

a {
  color: inherit; 
}